<h1>登録内容確認画面</h1>
<h2>以下の内容で登録してよろしいでしょうか？</h2>
<table>
  <tr>
    <th>購入数</th>
    <td><%= @order.order_number %>（個）</td>
  </tr>
  <tr>
    <th>購入合計額</th>
    <td><%= @order.order_sumprice %>（円）</td>
  </tr>
</table>
<%= form_with model:@order, local:true do |f| %>
  <%= f.hidden_field :order_number %>
  <%= f.hidden_field :order_sumprice %>
  <%= f.hidden_field :user_id %></li>
  <%= f.hidden_field :product_id %></li>
  <%= f.submit "送信する"%>
  <%= f.submit "戻る", name: "back" %>
<% end %>

