<div>
  <h1 class="font-bold text-4xl">商品詳細</h1>
      <table> 
        <tr>
          <th>商品名</th>
          <td><%=@product.product_name %></td>
        </tr>
        <tr> 
          <th>在庫数</th> 
          <td><%= @product.product_zaiko %>（個）</td>
        </tr> 
        <tr>
          <th>単価</th>
          <td><%= @product.product_price%>（円）</td>
        </tr>
        <tr>
          <th>販売停止フラグ</th>
          <% product_stopflag = "販売中" if @product.product_stopflag == "0" %>
          <% product_stopflag = "販売停止中" if @product.product_stopflag == "1" %>
          <td><%= product_stopflag %><td>
        </tr>                                                                 
      </table>
      <%if @product.errors.any? %>
        <p class="errors_message">在庫数の整合性が取れません</p>
      <% end %>

      <% if @product.product_stopflag == "1" %>
        <p>販売停止中の商品です</p>
      <% elsif @product.product_zaiko == 0 %>
        <p>在庫切れの商品です</p>
      <% else %>
        <%= render "orders/new" %>
      <% end %>

      <%= link_to "一覧に戻る", products_path %>
</div>
